/* html { 
  background: url(../images/sac_skyline.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body{
  background-color: #ffffff;
  border-color: #dddddd;
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  width: '960px';
  /*margin: 0 auto;*/
}

header{
  width: 100%;
  background-color:  #ffffff;
  border-color:#cccccc;
  border-width: 25px;
  font-family: 'Georgia', 'Times New Roman', Times, serif, serif;
  /*margin: 0 auto;*/
  height: 40px;
  position: fixed;
  
}

section {
  background-color: #ffffff;
  /*margin-bottom: 20px;*/
  padding: 20px;

}

#left {
  float: left;
  background-color:#4aaaa5;
  color:#ffffff;
  width:  15%;
  height:  40px;
  padding: 20px;
  /* The CSS below will also move the element 200px to the right, but it's using margin-left to accomplish this objective.*/
  /*margin-left: 200px;*/
  position: relative;
  left: 200px;
  font-weight: bold;
  font-size: 23px;
}

#right {
  float: right;
  background-color: #ffffff;
  color: #777777;
  width:  33%;
  height:  40px;
}

.footer{
  width: 100%;
  background-color: #666666;

}